body {
  line-height: 1;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
table { border-collapse: collapse; border-spacing: 0; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #672483;
  transition: transform 500ms ease;
  box-sizing: border-box;
  padding: 1rem;
}

header > div > h1 {
  font-size: 1.5rem;
}

header.hidden {
  transform: translateY(-100%);
}

#map-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex > div {
    width: 20%;
    text-align: center;
    font-size: 1.5rem;
}

.mercati-logo {
    max-width: 15%;
}

.popup-custom {
  max-width: 90vw;
  min-width: 220px; 
  width: auto;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  border-radius: 12px;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

.popup-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.leaflet-popup-content .popup-title {
  background: #000;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  line-height: 1.2;
}

.popup-audio {
  width: 100%;
  max-width: 300px;
  min-width: 220px;  
  display: block;
  margin: 0 auto;
}

.leaflet-popup-content {
  margin: 5px;
}

.leaflet-container .leaflet-popup-content-wrapper {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(10px);
  opacity: 0;
  background-color: #000000;
  box-shadow: 0 3px 14px #60257b;
  border-radius: 12px;
}

.popup-fadein .leaflet-popup-content-wrapper {
  transform: translateY(0);
  opacity: 1;
}

.leaflet-container .leaflet-popup-tip {
  background: #000; 
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.leaflet-routing-container {
  display: none;
}